## Primer archivo de Inflacion

In [1]:
import pandas as pd
import bokeh.plotting as bp
import datetime
from bokeh.models import CustomJS, Slider
from bokeh.io import output_notebook, show
#output_notebook()

In [63]:
book1 = pd.read_csv('../Book1.csv', sep=';')
book1.head()

   Año_Mes Inflacion Limitesuperior Metadeinflacion Limiteinferior
0  2017-09      3,97           4,00            3,00           2,00
1  2017-08      3,87           4,00            3,00           2,00
2  2017-07      3,40           4,00            3,00           2,00
3  2017-06      3,99           4,00            3,00           2,00
4  2017-05      4,37           4,00            3,00           2,00

In [64]:
fecha = pd.to_datetime(book1.Año_Mes) #dejo todo como tipo fecha
y = [float(i.replace(",", ".")) for i in book1.Inflacion] #tiene , en vez de . cambio eso para convertir a float
sup = [float(str(i).replace(",",".")) for i in book1.Limitesuperior]
inf = [float(str(i).replace(",",".")) for i in book1.Limiteinferior]
#rango = sup+inf

In [65]:
fecha_01 = [str(i)[:7] for i in fecha]

    -Notas 05b ML fillbetween
    -arreglar los datos para poder generar un patch como rango sup/inf

In [68]:
fig = bp.figure(title="Inflacion a lo largo de los Años", x_axis_label="Año", y_axis_label="inflacion", x_range=fecha_01[-1::-1], plot_width=1350, plot_height=780)
figline = fig.line(fecha_01, y, line_width=2, legend="Inflacion")
figline2 = fig.line(fecha_01, sup, alpha = 0.5, line_width=4, color = "green", legend="Limite Superior")
figline3 = fig.line(fecha_01, inf, alpha = 0.5, line_width=4, color = "red", legend="Limite Inferior")
#figpatch = fig.patch(fecha, rango, alpha = 0.5, line_width=1, color = "green")
fig.legend.location="top_right"
fig.legend.click_policy="hide"

In [69]:
bp.output_file('graf.html')
show(fig)

### Segundo Archivo...

In [16]:
book2 = pd.read_csv('../Book2.csv', sep=';')
book2.head()

,AnioMes,Sin_alimentos_primarios_servicios_publicos_y_combustibles_Indice,Sin_alimentos_primarios_servicios_publicos_y_combustibles_Variacion_Anual,Sin_alimentos_ni_regulados_Indice,Sin_alimentos_ni_regulados_Variacion_Anual,Sin_alimentos_Indice,Sin_alimentos_Variacion_Anual,Ipc_nucleo_20_Indice,Ipc_nucleo_20_Variacion_Anual
0,1982-03,NaN,NaN,"2,53322",NaN,NaN,NaN,NaN,NaN
1,1982-04,NaN,NaN,"2,58214",NaN,NaN,NaN,NaN,NaN
2,1982-05,NaN,NaN,"2,63447",NaN,NaN,NaN,NaN,NaN
3,1982-06,NaN,NaN,"2,66243",NaN,NaN,NaN,NaN,NaN
4,1982-07,NaN,NaN,"2,71060",NaN,NaN,NaN,NaN,NaN

In [17]:
fecha2 = pd.to_datetime(book2.AnioMes, yearfirst = True) #dejo todo como tipo fecha
fecha_02 = [str(i)[:7] for i in fecha2]

In [31]:
y = [float(str(i).replace(",", ".")) for i in book2.Sin_alimentos_primarios_servicios_publicos_y_combustibles_Indice] #tiene , en vez de . cambio eso para convertir a float

#y2 = [float((str(i).replace("%", "")).replace(",", ".")) for i in book2.Sin_alimentos_primarios_servicios_publicos_y_combustibles_Variacion_Anual]
y3 = [float(i.replace(",", ".")) for i in book2.Sin_alimentos_ni_regulados_Indice]
#y4 = [float((str(i).replace("%", "")).replace(",", ".")) for i in book2.Sin_alimentos_ni_regulados_Variacion_Anual]
y5 = [float(str(i).replace(",", ".")) for i in book2.Sin_alimentos_Indice]
#y6 = [float((str(i).replace("%", "")).replace(",", ".")) for i in book2.Sin_alimentos_Variacion_Anual]
y7 = [float(str(i).replace(",", ".")) for i in book2.Ipc_nucleo_20_Indice]
#y8 = [float((str(i).replace("%", "")).replace(",", ".")) for i in book2.Ipc_nucleo_20_Variacion_Anual]

In [57]:
fig2 = bp.figure(title="Inflacion a lo largo de los Años", x_axis_label="Año", y_axis_label="inflacion", x_range=fecha_02, plot_width=1350, plot_height=780)
figlin = fig2.line(fecha_02, y, line_width=2, legend="Sin Alimentos/ServiciosP/Combust")
figlin3 = fig2.line(fecha_02, y3, line_width=2, color="firebrick", legend = "Sin Alimentos/Regulados")
figlin5 = fig2.line(fecha_02, y5, line_width=2, color="black", legend="Sin Alimentos")
figlin7 = fig2.line(fecha_02, y7, line_width=2, color="yellow", legend="IPC Nucleo 20")
fig2.legend.location="top_left"
fig2.legend.click_policy="hide"

In [58]:
#figlin2 = fig2.line(fecha_02, y2, line_width=2, color="gold")
#figlin4 = fig2.line(fecha_02, y4, line_width=2, color="blue")
#figlin6 = fig2.line(fecha_02, y6, line_width=2, color="green")
#figlin8 = fig2.line(fecha_02, y8, line_width=2, color="navy")

In [59]:
bp.output_file('graf2.html')
show(fig2)